{{{description}}} 
{{#each members}}
  <div class='f-row'>
    <div class='f-col sm12 md8'>
      <h4 class='hide-on-med-and-down'>{{this.name}}</h4>
      <div>{{{this.parsed}}}</div>
    </div>
    <div class='f-col sm12 md4 center-align'>
            <h4 class='show-member-role'>{{this.name}}</h4>

     <img class='committee-member-image' alt={{this.image.fields.title}} src="https:{{this.image.fields.file.url}}"/>
      </div>
    </div>
  </div>

{{/each}}